{% INCLUDE 'overall_header.html' %}
{% INCLUDECSS 'css/sitemap.css' %}

<a id="maincontent"></a>

<h1>{{ lang('WELSHPAUL_SITEMAP_TITLE') }}</h1>

{% if S_ERROR %}
	<div class="errorbox">
		<h3>{{ lang('WARNING') }}</h3>
		<p>{{ ERROR_MSG }}</p>
	</div>
{% endif %}

<p>{{ lang('WELSHPAUL_SITEMAP_EXPLAIN') }}</p>
<p>{{ lang('WELSHPAUL_SITEMAP_LOCATION') ~ lang('COLON') }} <a href="{{ WELSHPAUL_SITEMAP_LOCATION }}" target="_blank">{{ WELSHPAUL_SITEMAP_LOCATION }}</a> </p>

<form id="acp_board" method="post" action="{{ U_ACTION }}">
	<fieldset>
		<legend>{{ lang('WELSHPAUL_SITEMAP_IMAGES') }}</legend>
		<dl>
			<dt><label for="welshpaul_sitemap_images">{{ lang('WELSHPAUL_SITEMAP_IMAGES') ~ lang('COLON') }}</label><br /><span>{{ lang('WELSHPAUL_SITEMAP_IMAGES_EXPLAIN') }}</span></dt>
			<dd>
				<input type="radio" id="welshpaul_sitemap_images1" name="welshpaul_sitemap_images" value="1" {% if WELSHPAUL_SITEMAP_IMAGES %}checked="checked"{% endif %}/>
				<label for="welshpaul_sitemap_images1">{{ lang('YES') }}</label>
				<input type="radio" id="welshpaul_sitemap_images0" name="welshpaul_sitemap_images" value="0" {% if not WELSHPAUL_SITEMAP_IMAGES %}checked="checked"{% endif %}/>
				<label for="welshpaul_sitemap_images0">{{ lang('NO') }}</label>
			</dd>
		</dl>
	</fieldset>
	<fieldset>
		<legend>{{ lang('WELSHPAUL_SITEMAP_PRIORITY') }}</legend>
		<dl>
			<dt><label for="welshpaul_sitemap_sticky_priority">{{ lang('WELSHPAUL_SITEMAP_STICKY_PRIORITY') ~ lang('COLON') }}</label><br /><span>{{ lang('WELSHPAUL_SITEMAP_STICKY_PRIORITY_EXPLAIN') }}</span></dt>
			<dd><input class="textbox" type="number" name="welshpaul_sitemap_sticky_priority" min="0" step="0.1" max="1.0" size="5" value="{{ WELSHPAUL_SITEMAP_STICKY_PRIORITY }}" /></dd>
		</dl>
		<dl>
			<dt><label for="welshpaul_sitemap_announce_priority">{{ lang('WELSHPAUL_SITEMAP_ANNOUNCE_PRIORITY') ~ lang('COLON') }}</label><br /><span>{{ lang('WELSHPAUL_SITEMAP_ANNOUNCE_PRIORITY_EXPLAIN') }}</span></dt>
			<dd><input class="textbox" type="number" name="welshpaul_sitemap_announce_priority" min="0" step="0.1" max="1.0" size="5" value="{{ WELSHPAUL_SITEMAP_ANNOUNCE_PRIORITY }}" /></dd>
		</dl>
		<dl>
			<dt><label for="welshpaul_sitemap_global_priority">{{ lang('WELSHPAUL_SITEMAP_GLOBAL_PRIORITY') ~ lang('COLON') }}</label><br /><span>{{ lang('WELSHPAUL_SITEMAP_GLOBAL_PRIORITY_EXPLAIN') }}</span></dt>
			<dd><input class="textbox" type="number" name="welshpaul_sitemap_global_priority" min="0" step="0.1" max="1.0" size="5" value="{{ WELSHPAUL_SITEMAP_GLOBAL_PRIORITY }}" /></dd>
		</dl>
	</fieldset>
	<fieldset>
		<legend>{{ lang('WELSHPAUL_SITEMAP_FORUM_EXCLUDE') }}</legend>
		<dl>
			<dt><label for="welshpaul_sitemap_forum_exclude">{{ lang('WELSHPAUL_SITEMAP_FORUM_EXCLUDE') ~ lang('COLON') }}</label><br /><span>{{ lang('WELSHPAUL_SITEMAP_FORUM_EXCLUDE_EXPLAIN') }}</span></dt>
			<dd><select name="welshpaul_sitemap_forum_exclude[]" id="welshpaul_sitemap_forum_exclude" size="10" multiple="multiple">
				{% for welshpaul_sitemap_forum_exclude_options in loops.welshpaul_sitemap_forum_exclude_options %}
					<option value="{{ welshpaul_sitemap_forum_exclude_options.VALUE }}"{% if welshpaul_sitemap_forum_exclude_options.S_DISABLED %} disabled="disabled" class="disabled-option"{% endif %}{% if welshpaul_sitemap_forum_exclude_options.S_SELECTED %} selected="selected"{% endif %}>{{ welshpaul_sitemap_forum_exclude_options.LABEL }}</option>
				{% endfor %}
			</select></dd>
		</dl>
		<dl>
			<dt><label for="welshpaul_sitemap_forum_threshold">{{ lang('WELSHPAUL_SITEMAP_FORUM_THRESHOLD') ~ lang('COLON') }}</label><br /><span>{{ lang('WELSHPAUL_SITEMAP_FORUM_THRESHOLD_EXPLAIN') }}</span></dt>
			<dd><input class="textbox" type="number" name="welshpaul_sitemap_forum_threshold" min="0" step="any" size="5" value="{{ WELSHPAUL_SITEMAP_FORUM_THRESHOLD }}" /></dd>
		</dl>
	</fieldset>
	<fieldset>
		<legend>{{ lang('WELSHPAUL_SITEMAP_LINKS') }}</legend>
		<dl>
			<dt><label for="welshpaul_sitemap_link">{{ lang('WELSHPAUL_SITEMAP_LINK') ~ lang('COLON') }}</label><br /><span>{{ lang('WELSHPAUL_SITEMAP_LINK_EXPLAIN') }}</span></dt>
			<dd>
				<input type="radio" id="welshpaul_sitemap_link1" name="welshpaul_sitemap_link" value="1" {% if WELSHPAUL_SITEMAP_LINK %}checked="checked"{% endif %}/>
				<label for="welshpaul_sitemap_link1">{{ lang('YES') }}</label>
				<input type="radio" id="welshpaul_sitemap_link0" name="welshpaul_sitemap_link" value="0" {% if not WELSHPAUL_SITEMAP_LINK %}checked="checked"{% endif %}/>
				<label for="welshpaul_sitemap_link0">{{ lang('NO') }}</label>
			</dd>
		</dl>
	</fieldset>
	<p class="submit-buttons">
		<input class="adm-button" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}" />&nbsp;
		<input class="adm-button" type="reset" id="reset" name="reset" value="{{ lang('RESET') }}" />
	</p>
{{ S_FORM_TOKEN }}
</form>
{% INCLUDE 'overall_footer.html' %}
